<section id="right">
	<header id="pageheader">
   		<div id="intro">
        	<div id="introwrap">
            <h2>Hello there, Work is Still in progress! </h2>
            <p>I am a Web User Interface designer and Ruby On Rails Developer with passion for art, photography and web standards. I make clean, smart & usable websites. If you need a website, <a href="#">let's talk</a></p>
            </div>
                    <a href="http://in.linkedin.com/pub/arpit-kulshrestha/5b/39/aa2" target= "_blank" class="resume">Linkedin</a>

        </div>
    </header>
    
    <section id="contents">
    <section id="homemain">
    <% @articles.each do |article| %>
    <article class="post">
    <header>
    <h2><%= link_to "#{article.title}", article_path(article.id) %></h2>
    <span class="articlemeta">Posted on <%= article.created_at %> under <a href="#">Category</a></span>
    
    </header>
    <div class="entry">
    
    <p><%= article.post.first(200) %><%= link_to "Read more", article_path(article.id) %></p>
    
    </div>
    </article>
    <% end %>
    
    
    <a href="#"><img src="/assets/viewmorebtn.jpg" width="135" height="36" alt="view more"></a>
    </section>
    <section id="photos">
    <h2 class="subhead">Photoblog</h2>
    <div class="imagepost">
    <img src="/assets/rain.jpg" width="170" height="113" alt="rain">
    <p class="caption"><a href="#">It Rained Last Night</a></p>
    </div>
    
    <div class="imagepost">
    <img src="/assets/guitar.jpg" width="170" height="113" alt="rain">
    <p class="caption"><a href="#">It Rained Last Night</a></p>
    </div>
    
    <div class="imagepost">
    <img src="/assets/bandw.jpg" width="170" height="113" alt="rain">
    <p class="caption"><a href="#">It Rained Last Night</a></p>
    </div>
    <a href="photo.html"><img src="/assets/viewmorebtn.jpg" width="135" height="36" alt="view more"></a> </section>
    
    <div class="clear"></div>
    </section>
</section>
