<section id="right">
	<header id="header-small">
    <h2>Selected Works</h2>
   </header>
  <div class="clear"></div>
    <section id="contents">
    <article class="pfitem">
    <div class="pfthumb">
    <img src="/assets/ramblingsoul.jpg" width="440" height="230" alt="web design and development - ramblingsoul.com"></div>
    <div class="pfdetails">
    <h3><span class="sitename">RamblingSoul.com</span>
    Works : Website Design, HTML, CSS Coding, jQuery, WordPress Themes, Search Engine Optimization &amp; CSS Templates 
    	
    </h3>
    <p> <a href="#">Preview Work</a></p>
    </div>
    <div class="clear"></div>
    </article>
    
    
    <article class="pfitem">
    <div class="pfthumb">
    <img src="/assets/cssheaven.jpg" width="440" height="230" alt="web design and development - ramblingsoul.com"></div>
    <div class="pfdetails">
    <h3><span class="sitename">RamblingSoul.com</span>
    Works : Website Design, HTML, CSS Coding, jQuery, WordPress Themes, Search Engine Optimization &amp; CSS Templates 
    	
    </h3>
    <p> <a href="#">Preview Work</a></p>
    </div>
    <div class="clear"></div>
    </article>
    
    <article class="pfitem">
    <div class="pfthumb">
    <img src="/assets/ramblingsoul.jpg" width="440" height="230" alt="web design and development - ramblingsoul.com"></div>
    <div class="pfdetails">
    <h3><span class="sitename">RamblingSoul.com</span>
    Works : Website Design, HTML, CSS Coding, jQuery, WordPress Themes, Search Engine Optimization &amp; CSS Templates 
    	
    </h3>
    <p> <a href="#">Preview Work</a></p>
    </div>
    <div class="clear"></div>
    </article>
    
    <article class="pfitem">
    <div class="pfthumb">
    <img src="/assets/cssheaven.jpg" width="440" height="230" alt="web design and development - ramblingsoul.com"></div>
    <div class="pfdetails">
    <h3><span class="sitename">RamblingSoul.com</span>
    Works : Website Design, HTML, CSS Coding, jQuery, WordPress Themes, Search Engine Optimization &amp; CSS Templates 
    	
    </h3>
    <p> <a href="#">Preview Work</a></p>
    </div>
    <div class="clear"></div>
    </article>
    <div class="clear"></div>
    </section>
</section>